@use './abstracts/' as *;

/** // *======================== GLOBAL ========================* // **/

html {
  scroll-behavior: smooth;
  scrollbar-gutter: stable;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: never;
}

.no-scroll {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  position: relative;
  overflow: clip;
  font-family: lato, Arial, Helvetica, sans-serif;
  line-height: 1.4;
}

.container {
  max-width: const(1440px);
  height: 100%;

  margin-inline: auto;
  padding-inline: desk(40px, 32px);

  @include TABLET {
    padding-inline: tab(40px, 16px);
  }
}

.modal {
  display: block;
  max-width: calc(100% - 25px);
  max-height: calc(100% - 25px);
  margin: auto;
  position: fixed;
  inset-block-start: 0;
  inset-block-end: 0;
  z-index: 100;

  visibility: hidden;
  opacity: 0;

  overflow: auto;
  transition: all 250ms;
  user-select: text;

  &._open {
    visibility: visible;
    opacity: 1;
  }
}