// ^======================== wrapper ========================^ //

._ {
  width: 100%;
  min-height: 100%;
  position: relative;
  overflow: clip;
  font-family: lato, Arial, Helvetica, sans-serif;
  line-height: 1.4;
}