@use '@/styles/abstracts' as *;

/*^ // ^======================== breadcrumb ========================^ // ^*/

.breadcrumb {
  color: $white;
  font-size: const(16px);
  font-weight: 500;
  letter-spacing: -0.04em;

  @include TABLET {
    font-size: tab(16px, 12px);
  }

  &._active {
    display: grid;
    place-items: center;
    height: const(27px);
    padding-inline: const(10px);
    border-radius: const(6px);
    background-color: $white25;

    @include TABLET {
      height: tab(27px, 23px);
    }
  }
}