@use '@/styles/abstracts' as *;

/*$ // $======================== breadcrumbs ========================$ // $*/

.breadcrumbs {
  display: flex;
  gap: const(16px);
  margin-bottom: desk(32px, 24px);

  @include TABLET {
    gap: tab(16px, 14px);
    margin-bottom: tab(24px, 14px);
  }

  &__item {
    display: flex;
    align-items: center;

    &:not(:last-child) {
      position: relative;

      &::after {
        content: '';
        display: block;
        position: absolute;
        left: calc(100% + const(6px));
        background-color: $white;
        @include circle(const(4px));

        @include TABLET {
          @include circle(tab(4px, 2px));
        }
      }
    }
  }
}